[submodule "content"]
	path = content
	url = https://github.com/Lee-Siny/blog-contents.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/Lee-Siny/Lee-Siny.github.io.git
	branch = main
[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
